<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VUEJS</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app" class="container">
		<div class="row">
			<div class="col-4">
				<form>
					<div class="form-group">
						<label for="id">ID</label>
						<input id="student_id" v-model="id" name="id" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input name="name" v-model="name" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<textarea @keyup.enter="addStudent()" v-model="address" name="address" class="form-control"></textarea>
					</div>
					<button @click.prevent="addStudent()" type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div id="tables" class="col-8">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Address</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="student in students">
							<td>{{ student.id }}</td>
							<td>{{ student.name }}</td>
							<td>{{ student.address }}</td>
							<td><button class="btn btn-danger">DEL</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br>
		<hr>
		<pre>
			{{ $data }}
		</pre>
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/vue/dist/vue.min.js"></script>
	<script src="script3.js"></script>

</body>
</html>			  
